<html>
  <body>
    <table>
      <tr>
        <th>Subject</th>
        <th>Units</th>
        <th>Level</th>
        <th>Title</th>
        <th>Meets</th>
        <th>Instructors</th>
      </th>
      <% @courses.each_with_index do |course, index| %>
      <tr>
        <td><%= get_num(index) %></td>
        <td><%= get_units(index) %></td>
        <td><%= get_level(index) %></td>
        <td><%= get_title(index) %></td>
        <td>
          <%= "<p>Lecture: #{get_lecture(index)}</p>\n" if is_lecture?(index) -%>
          <%= "<p>Lab: #{get_lab(index)}</p>\n" if is_lab?(index) -%>
          <%= "<p>Recitation: #{get_recitation(index)}</p>\n" if is_recitation?(index) -%>
        </td>
        <td><%= get_instructors(index) %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
